In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [36]:
dataset=pd.read_csv(r"D:\ml project 1\car_prices.csv")

In [37]:
dataset.head(10)

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
5,5,opel,combo,gen-d-2011,2017,121203,1598,Diesel,Warszawa,Mazowieckie,51900
6,6,opel,combo,gen-d-2011,2017,119965,1248,Diesel,Wrocław,Dolnośląskie,44700
7,7,opel,combo,gen-d-2011,2016,201658,1248,Diesel,Lublin,Lubelskie,29000
8,8,opel,combo,gen-d-2011,2014,178666,1598,Diesel,Złotów,Wielkopolskie,28900
9,9,opel,combo,gen-d-2011,2015,113000,1248,Diesel,Strzyżew,Mazowieckie,34900

In [16]:
dataset.drop(columns=["mark","model"], inplace=True)

KeyError: "['mark', 'model'] not found in axis"

In [38]:
dataset.head(10)

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
5,5,opel,combo,gen-d-2011,2017,121203,1598,Diesel,Warszawa,Mazowieckie,51900
6,6,opel,combo,gen-d-2011,2017,119965,1248,Diesel,Wrocław,Dolnośląskie,44700
7,7,opel,combo,gen-d-2011,2016,201658,1248,Diesel,Lublin,Lubelskie,29000
8,8,opel,combo,gen-d-2011,2014,178666,1598,Diesel,Złotów,Wielkopolskie,28900
9,9,opel,combo,gen-d-2011,2015,113000,1248,Diesel,Strzyżew,Mazowieckie,34900

In [22]:
from sklearn.preprocessing import LabelEncoder

In [57]:
column_to_encode = 'fuel'

In [58]:

label_encoder = LabelEncoder()
dataset[column_to_encode] = label_encoder.fit_transform(dataset[column_to_encode])

In [52]:
dataset

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,1,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,1,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,1,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,1,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,0,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...,...
117922,117922,volvo,xc-90,gen-ii-2014-xc-90,2020,40000,1969,4,Katowice,Śląskie,222790
117923,117923,volvo,xc-90,gen-ii-2014-xc-90,2017,51000,1969,1,Chechło Pierwsze,Łódzkie,229900
117924,117924,volvo,xc-90,gen-ii-2014-xc-90,2016,83500,1969,3,Pruszcz Gdański,Pomorskie,135000
117925,117925,volvo,xc-90,gen-ii-2014-xc-90,2017,174000,1969,1,Kalisz,Wielkopolskie,154500
117926,117926,volvo,xc-90,gen-ii-2014-xc-90,2016,189020,1969,3,Sionna,Mazowieckie,130000

In [88]:
columns_to_encode1 = ['mark','generation_name','city','province']

In [90]:
label_encoder = LabelEncoder()

for column in columns_to_encode1:
    dataset[column ] = label_encoder.fit_transform(dataset[column])

KeyError: 'generation_name'

In [65]:
dataset

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price,fuel_encoded,model_encoded,generation_name_encoded,city_encoded,province_encoded
0,0,opel,89,49,2015,139568,1248,1,1161,6,35900,1,89,49,1161,6
1,1,opel,89,49,2018,31991,1499,1,1365,21,78501,1,89,49,1365,21
2,2,opel,89,49,2015,278437,1598,1,300,11,27000,1,89,49,300,11
3,3,opel,89,49,2016,47600,1248,1,1510,11,30800,1,89,49,1510,11
4,4,opel,89,49,2014,103000,1400,0,3606,21,35900,0,89,49,3606,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117922,117922,volvo,321,199,2020,40000,1969,4,1365,21,222790,4,321,199,1365,21
117923,117923,volvo,321,199,2017,51000,1969,1,419,20,229900,1,321,199,419,20
117924,117924,volvo,321,199,2016,83500,1969,3,2774,14,135000,3,321,199,2774,14
117925,117925,volvo,321,199,2017,174000,1969,1,1304,18,154500,1,321,199,1304,18
117926,117926,volvo,321,199,2016,189020,1969,3,3177,6,130000,3,321,199,3177,6

In [69]:
dataset.drop(columns=columns_to_encode1, inplace=True)

In [91]:
dataset

,Unnamed: 0,mark,year,mileage,vol_engine,price,fuel_encoded,model_encoded,generation_name_encoded,city_encoded,province_encoded
0,0,15,2015,139568,1248,35900,1,89,49,1161,6
1,1,15,2018,31991,1499,78501,1,89,49,1365,21
2,2,15,2015,278437,1598,27000,1,89,49,300,11
3,3,15,2016,47600,1248,30800,1,89,49,1510,11
4,4,15,2014,103000,1400,35900,0,89,49,3606,21
...,...,...,...,...,...,...,...,...,...,...,...
117922,117922,22,2020,40000,1969,222790,4,321,199,1365,21
117923,117923,22,2017,51000,1969,229900,1,321,199,419,20
117924,117924,22,2016,83500,1969,135000,3,321,199,2774,14
117925,117925,22,2017,174000,1969,154500,1,321,199,1304,18
117926,117926,22,2016,189020,1969,130000,3,321,199,3177,6

In [71]:
dataset.describe()

,Unnamed: 0,year,mileage,vol_engine,price,fuel_encoded,model_encoded,generation_name_encoded,city_encoded,province_encoded
count,117927.000000,117927.000000,1.179270e+05,117927.000000,1.179270e+05,117927.000000,117927.000000,117927.000000,117927.000000,117927.000000
mean,58963.000000,2012.925259,1.409768e+05,1812.057782,7.029988e+04,2.264333,155.131352,219.392294,2413.693522,12.081457
std,34042.736935,5.690135,9.236936e+04,643.613438,8.482458e+04,1.132378,96.604213,123.769060,1297.288081,6.996681
min,0.000000,1945.000000,0.000000e+00,0.000000,5.000000e+02,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29481.500000,2009.000000,6.700000e+04,1461.000000,2.100000e+04,1.000000,63.000000,100.000000,1365.000000,6.000000
50%,58963.000000,2013.000000,1.462690e+05,1796.000000,4.190000e+04,3.000000,157.000000,234.000000,2493.000000,12.000000
75%,88444.500000,2018.000000,2.030000e+05,1995.000000,8.360000e+04,3.000000,240.000000,364.000000,3653.000000,19.000000
max,117926.000000,2022.000000,2.800000e+06,7600.000000,2.399900e+06,5.000000,327.000000,364.000000,4426.000000,22.000000

In [77]:
columns_to_check = [ 'mileage','vol_engine','price','fuel_encoded','model_encoded','city_encoded']
def remove_outliers_iqr(dataset, columns):
    for column in columns:
        Q1 = dataset[column].quantile(0.25)
        Q3 = dataset[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        dataset = dataset[(dataset[column] >= lower_bound) & (dataset[column] <= upper_bound)]
    return dataset
dataset_cleaned = remove_outliers_iqr(dataset, columns_to_check)

In [78]:
dataset_cleaned

,Unnamed: 0,mark,year,mileage,vol_engine,price,fuel_encoded,model_encoded,generation_name_encoded,city_encoded,province_encoded
0,0,opel,2015,139568,1248,35900,1,89,49,1161,6
1,1,opel,2018,31991,1499,78501,1,89,49,1365,21
2,2,opel,2015,278437,1598,27000,1,89,49,300,11
3,3,opel,2016,47600,1248,30800,1,89,49,1510,11
4,4,opel,2014,103000,1400,35900,0,89,49,3606,21
...,...,...,...,...,...,...,...,...,...,...,...
117910,117910,volvo,2016,97000,1969,130000,3,321,199,3770,6
117911,117911,volvo,2017,189000,1969,149900,1,321,199,4146,21
117924,117924,volvo,2016,83500,1969,135000,3,321,199,2774,14
117925,117925,volvo,2017,174000,1969,154500,1,321,199,1304,18
117926,117926,volvo,2016,189020,1969,130000,3,321,199,3177,6

In [92]:
dataset.drop_duplicates(inplace=True)

In [94]:
dataset_cleaned

,Unnamed: 0,mark,year,mileage,vol_engine,price,fuel_encoded,model_encoded,generation_name_encoded,city_encoded,province_encoded
0,0,opel,2015,139568,1248,35900,1,89,49,1161,6
1,1,opel,2018,31991,1499,78501,1,89,49,1365,21
2,2,opel,2015,278437,1598,27000,1,89,49,300,11
3,3,opel,2016,47600,1248,30800,1,89,49,1510,11
4,4,opel,2014,103000,1400,35900,0,89,49,3606,21
...,...,...,...,...,...,...,...,...,...,...,...
117910,117910,volvo,2016,97000,1969,130000,3,321,199,3770,6
117911,117911,volvo,2017,189000,1969,149900,1,321,199,4146,21
117924,117924,volvo,2016,83500,1969,135000,3,321,199,2774,14
117925,117925,volvo,2017,174000,1969,154500,1,321,199,1304,18
117926,117926,volvo,2016,189020,1969,130000,3,321,199,3177,6

In [95]:
x=dataset_cleaned[["mileage","vol_engine","fuel_encoded","generation_name_encoded","city_encoded","province_encoded"]]
y=dataset_cleaned["price"]

In [96]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [97]:
model.score(x_test,y_test)

0.5422786870798109

In [98]:
model.coef_

array([-3.37626611e-01,  3.63195046e+01, -4.14585750e+03,  1.17155048e+01,
        2.24222598e-01, -5.28986152e+01])

In [99]:
model.intercept_

43141.301388971326